version: '3'

services:
  db:
    image: postgres:14.3
    container_name: desafio-uno
    restart: always
    ports:
      - "${DB_PORT}:${DB_PORT}"
    environment:
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    env_file:
      - ../backend/.env
    volumes:
      - ./postgres:/var/lib/postgresql/data